@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

@layer utilities {
  .gradient-text {
    @apply inline-block text-transparent bg-gradient-to-r from-primary to-secondary-clr bg-clip-text;
  }

  .btn{
    @apply px-10 py-5 bg-btn-bg text-dark-clr rounded-[10px] from-[#0bd88f] to-[#00C2FF] font-medium hover:bg-gradient-to-b transition-all duration-300 hover:shadow-[0_0_25px_5px_rgba(11,216,143,0.3)]
  }
}
